---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Kelvin Kirui"
  description="About Kelvin Kirui Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="473"
          src="/assets/at_work.png"
          alt="Kelvin Kirui at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            As a dedicated and passionate software developer, I thrive on
            turning innovative ideas into functional, user-friendly
            applications. With a strong foundation in computer science and a
            proven track record of translating complex requirements into robust
            code, I am committed to delivering high-quality solutions that meet
            both user needs and business objectives.</p><p> My journey in software
            development began with a fascination for problem-solving and a keen
            interest in technology. Over the years, I have honed my skills in a
            variety of programming languages, including Java, Python, and
            JavaScript, and have gained hands-on experience with modern
            frameworks such as  Django. Whether I'm crafting intuitive
            user interfaces or architecting efficient backend systems, I
            approach every challenge with creativity and precision.</p><p>
            Collaboration lies at the heart of my approach. I thrive in
            interdisciplinary teams, where my effective communication skills and
            adaptable nature contribute to seamless integration between design,
            development, and deployment phases. Through close collaboration, I
            have successfully contributed to projects that have streamlined
            internal processes, enhanced user experiences, and positively
            impacted bottom-line results. Beyond my technical skills, I am an
            avid advocate for continuous learning. In a rapidly evolving field,
            I am committed to staying ahead of the curve by exploring emerging
            technologies, attending coding conferences, and contributing to
            open-source projects. This drive for growth enables me to bring
            fresh insights and innovative solutions to every project I
            undertake.
          </p>
     
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Corporis voluptates tenetur laudantium.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>officia unde omnis</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
