---
import CallToAction from "../components/CallToAction.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Grid from "../components/Grid.astro";
import Icon from "../components/Icon.astro";

import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<div class="cta">
					<CallToAction href="../../public/documents/KIPLANGAT KELVIN KIRUI CV.pdf">
						Download CV
					</CallToAction>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

